html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  background-color: black;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
hr,
ol,
ul {
  margin: 0;
}
ol,
ul {
  list-style-type: square;
  padding: 0;
}
ul li {
  margin-left: 20px;
}
.article li {
  line-height: 30px;
  padding-bottom: 15px;
}
a {
  color: #6d56c1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
}
a a:active,
a:focus,
a:hover {
  color: #6d56c1;
  text-decoration: underline;
}
nav {
  font-family: Roboto Mono, monospace;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #999;
  padding-right: 50px;
}
nav ul li a:after {
  background: #6d56c1;
  bottom: 0;
  content: "";
  height: 2px;
  opacity: 0;
  position: absolute;
  right: 42px;
  transition: background 0.3s;
  width: 7px;
}
nav ul li a:hover {
  color: #6d56c1;
  text-decoration: none;
  transition: all 0.15s;
}
nav ul li a:hover:after {
  opacity: 1;
}
button,
input[type="button"] {
  margin: 0;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main {
  color: white;
}
section {
  z-index: 3;
  position: relative;
}
/* Glow effect */
@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.personal-profile {
  color: #fff;
  font-family: Roboto Mono, monospace;
  padding-top: 90px;
}
.personal-profile .personal-profile__avatar img {
  border-radius: 5px;
  box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
  height: 380px;
  margin-top: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  top: 40px;
  width: 90%;
}
@media screen and (max-width: 990px) {
  .personal-profile .personal-profile__avatar {
    display: none;
  }
}
.personal-profile .personal-profile__name {
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.text-effect {
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  z-index: 3;
}
.personal-profile .personal-profile__work {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
.personal-profile .personal-profile__contacts {
  margin-bottom: 20px;
}
.personal-profile .personal-profile__social {
  margin-bottom: 35px;
}
.personal-profile .personal-profile__social a {
  color: #fff !important;
  font-size: 24px;
  margin-right: 15px;
  opacity: 0.4;
}
.personal-profile .personal-profile__social a:hover {
  opacity: 1;
}
.main-header {
  background-color: #6d56c1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: 3;
}
.main-header:before {
  background: linear-gradient(
    54deg,
    rgba(74, 76, 179, 0.95) 34%,
    hsla(0, 34%, 71%, 0.95)
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}
@media screen and (max-width: 990px) {
  .main-header {
    margin-bottom: 0;
  }
}
.contact-list {
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
}
.contact-list dt {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
}
.contact-list dd {
  margin-bottom: 15px;
  padding-left: 100px;
}
.contact-list dd a {
  color: #fff;
}
.contact-list.contact-list__opacity-titles dt {
  opacity: 0.4;
}
.section {
  padding-bottom: 60px;
}
#intro, #contact {
  padding-top: 60px;
}
.section .section__title {
  font-family: Roboto Mono, monospace;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;
}
.section .section__description {
  margin-bottom: 30px;
}
@media screen and (max-width: 760px) {
  .section {
    padding-bottom: 0px;
    padding-top: 20px !important;
  }
  .footer {
    margin-bottom: unset !important;
    top: unset !important;
    padding-top: 40px;
  }
}
.site-btn {
  background-color: #6d56c1;
  border-radius: 25px;
  color: #fff !important;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  line-height: 20px;
  min-width: 170px;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}
.site-btn img {
  height: 14px;
  margin-right: 5px;
  margin-top: -5px;
}
.site-btn:focus,
.site-btn:hover {
  background-color: #7b67c7;
  text-decoration: none;
}
.site-btn.site-btn--form {
  border: none !important;
  box-shadow: 0 1px 29px rgba(0, 0, 0, 0.16);
  position: relative;
  width: 100%;
}
.site-btn.site-btn--form:hover {
  background-color: #7b67c7 !important;
}
.site-btn.site-btn--form:active,
.site-btn.site-btn--form:focus {
  box-shadow: none !important;
}
.menu {
  height: 50px;
  padding: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: 100;
}
.menu .menu__wrapper {
  margin-top: 30px;
  transition: all 0.3s;
  z-index: 1;
}
.menu .menu__wrapper nav {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.menu .menu__wrapper nav a {
  color: #fff;
  opacity: 1;
}
.menu .menu__wrapper nav a:hover {
  opacity: 0.5;
}
.menu .menu__wrapper nav a:after {
  background: #fff;
}
.menu .menu__mobile-button {
  background-color: transparent;
  border: none;
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s;
}
.menu .menu__mobile-button:hover {
  opacity: 1;
}
.menu.menu--active {
  background: linear-gradient(to right, #2c278d, rgb(160, 112, 255));
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14);
}
.menu.menu--active .menu__wrapper {
  margin-top: 15px;
}
.menu.menu--active .menu__wrapper a {
  color: #fff !important;
  opacity: 1;
}
.menu.menu--active .menu__wrapper a:hover {
  color: #aba8b5 !important;
}
.menu.menu--active .menu__wrapper a:after {
  background: #e6e2f6 !important;
}
.menu.menu--active .menu__mobile-button {
  background-color: transparent;
  border: none;
  color: #fff !important;
  margin-top: -5px;
  opacity: 0.9;
  transition: all 0.3s;
}
.menu.menu--active .menu__mobile-button:hover {
  color: #6d56c1 !important;
  opacity: 1;
}
.menu.menu--active .menu__mobile-button:after {
  background: #6d56c1 !important;
}
.project-card {
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
  transition: box-shadow 0.3s;
}
.project-card .project-card__img {
  padding-left: 0;
  padding-right: 0;
}
.project-card .project-card__img img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.project-card .project-card__info {
  border: 1px solid #f1f1f1;
  padding: 50px 50px 40px 30px;
}
.project-card .project-card__title {
  font-family: Roboto Mono, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.project-card .project-card__description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 45px;
}
.project-card .project-card__stack {
  font-family: Roboto Mono, monospace;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.project-card .project-card__link {
  float: right;
  font-family: Roboto Mono, monospace;
  font-size: 20px;
  line-height: 20px;
  margin-top: 55px;
}
.project-card:hover {
  box-shadow: 0 1px 31px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
.resume-list {
  margin-bottom: 30px;
  margin-top: 30px;
}
.resume-list .resume-list_title {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.resume-list .resume-list__block {
  border-left: 2px solid #6d56c1;
  padding-bottom: 50px;
  padding-left: 25px;
}
.resume-list .resume-list__block p {
  margin: 0;
}
.resume-list .resume-list__block:before {
  background-color: #6d56c1;
  border: 2px solid #6d56c1;
  border-radius: 50%;
  content: "";
  height: 12px;
  left: 10px;
  position: absolute;
  width: 12px;
}
.resume-list .resume-list__block:last-child {
  padding-bottom: 0;
}
.resume-list .resume-list__block-title {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.resume-list .resume-list__block-date {
  font-family: Inconsolata, monospace;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}
.post-cards {
  justify-content: space-around;
}
.post-cards a:hover {
  text-decoration: none;
}
.post-cards .post-cards__card {
  height: 100%;
  transition: all 0.3s;
}
.post-cards .post-cards__card:hover {
  box-shadow: 0 1px 31px rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 760px) {
  .post-cards .post-cards__card {
    margin-bottom: 20px;
  }
}
.post-cards .post-cards__img {
  padding-top: 100%;
  position: relative;
}
.post-cards .post-cards__img img {
  object-fit: cover;
  -o-object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.post-cards .post-cards__info {
  border: 1px solid #f1f1f1;
  padding: 20px;
  height: 41%;
}
.post-cards .post-cards__date {
  color: #999;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.post-cards .post-cards_title {
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.post-cards .post-cards_description {
  color: #999;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.background {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 2;
}
.background:before {
  background: linear-gradient(
    54deg,
    rgba(74, 76, 179, 0.95) 34%,
    hsla(0, 34%, 71%, 0.95)
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}
.contacts {
  margin-top: 20px;
}
.contacts .contacts__list {
  margin-bottom: 45px;
}
.contacts .contacts__social {
  font-size: 16px;
  line-height: 24px;
}
.contacts .contacts__social li {
  margin-bottom: 20px;
}
.contacts .contacts__social a {
  color: #fff;
  padding: 6px 0;
  text-decoration: underline;
  transition: all 0.3s;
}
.contacts .contacts__social a:hover {
  background-color: #fff;
  color: #6d56c1;
  text-decoration: none;
}
.contacts .contacts__form .form-group {
  margin-bottom: 15px;
  position: relative;
}
.contacts .contacts__form .form-group span {
  color: #fff;
  opacity: 0;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 10px;
  z-index: 0;
}
.contacts .contacts__form .form-group .form-validation {
  border: 2px solid #6d56c1;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
}
.contacts .contacts__form input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  width: 100%;
}
.contacts .contacts__form input::-webkit-input-placeholder {
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
}
.contacts
  .contacts__form
  input::-webkit-input-placeholder[data-touched="true"]:invalid
  ~ .form-invalid-icon {
  opacity: 1;
}
.contacts .contacts__form input::-webkit-contacts-auto-fill-button {
  pointer-events: none;
  position: absolute;
  right: 0;
  visibility: hidden;
}
.contacts .contacts__form input:-moz-placeholder,
.contacts .contacts__form input::-moz-placeholder {
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
}
.contacts .contacts__form input:-ms-input-placeholder {
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
}
.contacts .contacts__form input:active,
.contacts .contacts__form input:focus {
  border: 1px solid #fff;
  box-shadow: inset 0 0 5px 0 #fff;
  outline: none;
}
.contacts .contacts__form input:invalid {
  outline: none;
}
.contacts
  .contacts__form
  input[data-touched="true"]:invalid
  ~ .form-invalid-icon {
  opacity: 1;
}
.contacts .contacts__form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  height: 115px;
  line-height: 24px;
  padding: 10px;
  width: 100%;
}
.contacts .contacts__form textarea::-webkit-input-placeholder {
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
}
.contacts .contacts__form textarea:-moz-placeholder,
.contacts .contacts__form textarea::-moz-placeholder {
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
}
.contacts .contacts__form textarea:-ms-input-placeholder {
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
}
.contacts .contacts__form textarea:active,
.contacts .contacts__form textarea:focus {
  border: 1px solid #fff;
  box-shadow: inset 0 0 5px 0 #fff;
  outline: none;
}
.contacts .contacts__form textarea:invalid {
  outline: none;
}
.contacts
  .contacts__form
  textarea[data-touched="true"]:invalid
  ~ .form-invalid-icon {
  opacity: 1;
}
@media screen and (max-width: 760px) {
  .contacts .contacts__form {
    margin-top: 20px;
  }
}
.contacts .contacts__form-title {
  margin-bottom: 20px;
}
.contacts .contacts__form-title,
.footer {
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 24px;
}
.footer {
  color: #fff;
  margin-bottom: 30px;
  opacity: 0.4;
  position: relative;
  text-align: center;
  top: 60px;
  width: 100%;
}
.footer a {
  color: white;
  text-decoration: underline;
}
.progress-list {
  margin-top: 30px;
}
.progress-list .progress-list__title {
  font-family: Roboto Mono, monospace;
  font-weight: bolder;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
.progress-list .progress-list__title,
.progress-list p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.progress-list p {
  font-family: Inconsolata, monospace;
  margin-bottom: 10px;
  width: 100%;
}
.progress-list p .progress-list__skill-value {
  float: right;
}
.progress-list .progress {
  height: 6px;
  margin-bottom: 30px;
}
.progress-list .progress .progress-bar {
  background-color: #6d56c1;
}
.portfolio-modal .modal-content {
  background-color: #18134e;
  border-radius: 0;
}
.portfolio-modal .modal-header {
  border-bottom: 0;
  height: 70px;
}
@media screen and (max-width: 990px) {
  .portfolio-modal .modal-header {
    height: 50px;
  }
}
.portfolio-modal .modal-header .close {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  right: 35px;
  top: 20px;
  width: 20px;
}
.portfolio-modal .modal-body {
  padding: 0 0 80px;
}
@media screen and (max-width: 990px) {
  .portfolio-modal .modal-body {
    padding: 15px 15px 50px;
  }
}
.portfolio-modal .portfolio-modal__title {
  font-family: Roboto Mono, monospace;
  margin-bottom: 30px;
}
.portfolio-modal .portfolio-modal__img {
  margin-bottom: 30px;
  width: 100%;
}
.portfolio-modal .portfolio-modal__description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
.portfolio-modal .portfolio-modal__link a {
  color: #fff;
}
.portfolio-modal .portfolio-modal__link {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  line-height: 20px;
  margin-top: 40px;
}
.portfolio-modal .portfolio-modal__stack {
  display: flex;
  margin-top: 40px;
}
.portfolio-modal .portfolio-modal__stack-title {
  font-family: Roboto Mono, monospace;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 15px;
  padding-top: 10px;
  text-transform: uppercase;
}
.tags li {
  background-color: #5153b4;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
  padding: 5px 10px;
}
@media screen and (max-width: 990px) {
  .tags li {
    margin-bottom: 10px;
  }
}
.blog-header {
  height: 400px;
  z-index: 3;
}
.article {
  background-color: #150320;
  box-shadow: 0 1px 21px rgba(0, 0, 0, 0.14);
  margin-bottom: 40px;
  margin-top: -270px;
  padding: 50px 70px 60px;
  color: #bdb4c6;
  position: relative;
  z-index: 3;
}
.article .article__back-link {
  color: #999;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.article .article__back-link:hover {
  color: #555;
  text-decoration: none;
}
.article .article__back-link i {
  margin-right: 10px;
}
.article .article__title {
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 30px;
  text-transform: uppercase;
}
.article .article_date {
  color: #999;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
.article p {
  margin-bottom: 20px;
}
.article figure {
  margin: 0;
  padding-bottom: 35px;
  padding-top: 10px;
}
.article figure img {
  margin-bottom: 20px;
  width: 100%;
}
.article figure figcaption {
  color: #999;
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
}
.article .article__share a {
  font-size: 24px;
  margin-left: 10px;
  opacity: 0.4;
}
.article .article__share a:first-child {
  margin-left: 20px;
}
.article .article__share a:hover {
  color: #6d56c1;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .article {
    padding: 50px 30px 60px;
  }
}
@media screen and (max-width: 576px) {
  .article {
    padding: 30px 20px 40px;
    font-size: 14px;
  }
}
.posts .posts__item {
  margin-bottom: 40px;
}
.posts a {
  transition: all 0.3s;
}
.posts a:hover {
  text-decoration: none;
}
.posts a:hover .posts__title {
  color: #6d56c1;
  text-decoration: underline;
}
.posts .posts__title {
  color: #6d56c1;
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.posts__item p {
  color: #999;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
.portfolio-menu .portfolio-menu__link--active {
  color: #6d56c1;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .portfolio-menu a {
    padding-right: 15px;
  }
  .portfolio-menu a:after {
    right: 8px;
  }
}
.slider-carousel {
  position: relative;
}
.slider-carousel .slider-carousel__title {
  font-family: Roboto Mono, monospace;
  margin-bottom: 10px;
  margin-top: 80px;
  text-transform: uppercase;
}
.slider-carousel .slider-carousel__caption {
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 20px;
  opacity: 0.7;
}
.slider-carousel hr {
  border-top: 1px solid #a98a79;
  margin-bottom: 20px;
}
.slider-carousel .slider-carousel__description {
  margin-bottom: 60px;
}
.slider-carousel .slider-carousel__circle {
  background-color: #fff;
  border-radius: 50%;
  color: #7b67c7;
  height: 88px;
  padding-top: 44px;
  position: absolute;
  right: calc(50% - 44px);
  text-align: center;
  top: -44px;
  width: 88px;
}
.slider-carousel .carousel-inner {
  height: 400px;
}
.slider-carousel .carousel-control-next {
  justify-content: flex-end;
}
.slider-carousel .carousel-control-prev {
  justify-content: flex-start;
}
.slider-carousel .carousel-indicators li {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}
.slider-carousel li.active {
  background-color: #fff;
}
.slider-carousel .carousel-indicators {
  bottom: 60px;
}
@media screen and (max-width: 990px) {
  .slider-carousel .slider-carousel__title {
    margin-top: 60px;
  }
  .slider-carousel .carousel-indicators {
    bottom: 40px;
  }
}
@media screen and (max-width: 760px) {
  .slider-carousel .slider-carousel__title {
    margin-top: 50px;
  }
  .slider-carousel .carousel-inner {
    height: 430px;
  }
}
@media screen and (max-width: 576px) {
  .slider-carousel .carousel-inner {
    height: 100%;
  }
}
.mobile-menu {
  background-color: rgba(0, 0, 0, 0.8);
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 20px;
  transition: all 0.3s ease;
  width: 0;
  z-index: 9999;
}
.mobile-menu.active {
  height: 100%;
  opacity: 1;
  top: 0;
  width: 100%;
}
.mobile-menu .mobile-menu__wrapper {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  line-height: 20px;
  margin-top: 60px;
  overflow: auto;
  text-transform: uppercase;
}
.mobile-menu .mobile-menu__wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  padding: 30px 0;
}
.mobile-menu .mobile-menu__wrapper ul li {
  list-style: none;
  padding: 6px 0;
}
.mobile-menu .mobile-menu__wrapper ul li a {
  color: #fff;
  display: inline-block;
  padding: 11px;
  position: relative;
}
.mobile-menu .mobile-menu__wrapper ul li a:hover {
  opacity: 1;
  text-decoration: none;
}
.mobile-menu .mobile-menu__wrapper ul li a:after {
  background: #fff;
  bottom: 14px;
  right: 1px;
}
.mobile-menu .mobile-menu__close {
  background-color: transparent;
  border: none;
  color: #fff;
  position: absolute;
  top: 50px;
  transition: all 0.3s;
}
.mobile-menu.mobile-menu--active .mobile-menu__close {
  top: 25px !important;
}
.style-switcher {
  bottom: 15%;
  position: fixed;
  right: -90px;
  transition: all 0.6s;
  z-index: 100;
}
.style-switcher .style-switcher__control {
  background: #2d2d2d;
  cursor: pointer;
  height: 50px;
  left: -50px;
  position: absolute;
  top: 0;
  width: 50px;
}
.style-switcher .style-switcher__control:after {
  color: #fff;
  content: "\f013";
  font-family: FontAwesome;
  font-size: 30px;
  left: 50%;
  line-height: 1;
  margin-left: -15px;
  margin-top: -15px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transition: all 1s;
}
.style-switcher .style-switcher__list {
  background: #fefefe;
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.4);
  padding: 10px 5px 0 10px;
}
.style-switcher .style-switcher__link {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  transition: all 0.3s;
  width: 30px;
}
.style-switcher .style-switcher__link--color {
  background-color: #6d56c1;
}
.style-switcher .style-switcher__link--mono {
  background-color: #4a4a4a;
}
.style-switcher.style-switcher--active {
  right: 0;
}
blockquote {
  background: #2c0546;
  border-left: 10px solid #ccc;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: "\26A0";
  font-size: 42px;
  margin-right: 0.25em;
  vertical-align: -10px;
}
blockquote p {
  display: inline;
}

table {
	width: 100%;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background: linear-gradient(45deg, #051c83, #3a065d);
  margin-bottom: 20px;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
  border: #3a065d 1px solid;
	color: #fff;
}

th {
	text-align: left;
}

thead th {
	background-color: rgb(114, 85, 143, 0.2);
}
