/public/storage
/public/vendor
/public/css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
_ide_helper.php
.phpstorm.meta.php
.php_cs.cache
.DS_Store
node_modules
