<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/jquery.waypoints.js"></script>
<script src="/js/progress-list.js"></script>
<script src="/js/section.js"></script>
<script src="/js/slider-carousel.js"></script>
<script src="/js/mobile-menu.js"></script>
<script src="/js/mbclicker.min.js"></script>
<script src="/js/site-btn.js"></script>
<script src="/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>
  hljs.highlightAll();
  hljs.configure({ ignoreUnescapedHTML: true })
</script>
<script
  src="https://kit.fontawesome.com/f8923ce61c.js"
  crossorigin="anonymous"
></script>
<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-V08QC6HMRT"
></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-V08QC6HMRT");
</script>
