html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }
  html:focus, body:focus, div:focus, span:focus, applet:focus, object:focus, iframe:focus, table:focus, caption:focus, tbody:focus, tfoot:focus, thead:focus, tr:focus, th:focus, td:focus,
  del:focus, dfn:focus, em:focus, font:focus, img:focus, ins:focus, kbd:focus, q:focus, s:focus, samp:focus, small:focus, strike:focus, strong:focus, sub:focus, sup:focus, tt:focus, var:focus,
  h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, blockquote:focus, pre:focus, a:focus, abbr:focus, acronym:focus, address:focus, big:focus, cite:focus, code:focus,
  dl:focus, dt:focus, dd:focus, ol:focus, ul:focus, li:focus, fieldset:focus, form:focus, label:focus, legend:focus {
    outline: 0; }

body {
  padding: 0px;
  margin: 0px; }

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "ITCAvantGardeStd";
  src: url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "ITCAvantGardeStd";
  src: url("../fonts/ITCAvantGardeStd-Demi.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SalesforceSans";
  src: url("../fonts/SalesforceSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SalesforceSans";
  src: url("../fonts/SalesforceSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
.landing_wrapper {
  position: relative;
  width: 100%;
  max-width: 1024px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Georgia", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.3;
  min-width: 320px;
  background: #FFF;
  color: #000000;
  margin: 0px auto; }
  .landing_wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .landing_wrapper h1, .landing_wrapper h2, .landing_wrapper h3, .landing_wrapper h4, .landing_wrapper h5, .landing_wrapper h6, .landing_wrapper p {
    padding: 0px;
    margin: 0px; }
  .landing_wrapper h1, .landing_wrapper h2, .landing_wrapper h3, .landing_wrapper h4, .landing_wrapper h5 {
    font-family: "Georgia", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.3;
    color: #000000;
    margin-bottom: 25px; }
  .landing_wrapper h2 {
    font-size: 28px; }
  .landing_wrapper h3 {
    font-size: 24px; }
  .landing_wrapper h4 {
    font-size: 22px; }
  .landing_wrapper h5 {
    font-size: 18px; }
  .landing_wrapper p {
    font-family: "Georgia", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 10px; }
    .landing_wrapper p i {
      font-style: italic; }
  .landing_wrapper .aling_center {
    text-align: center; }
  .landing_wrapper ul li, .landing_wrapper ol li {
    font-family: "Georgia", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 20px; }
    .landing_wrapper ul li i, .landing_wrapper ol li i {
      font-style: italic; }
  .landing_wrapper table {
    border-collapse: collapse; }
    .landing_wrapper table td {
      font-family: "Georgia", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2B3035; }
  .landing_wrapper .container {
    position: relative;
    width: 100%;
    max-width: 904px;
    padding: 0px 10px;
    margin: 0px auto; }

.cab_landing {
  font-family: "SalesforceSans", sans-serif;
  background: #FCFCFC; }
  .cab_landing h1, .cab_landing h2, .cab_landing h3, .cab_landing h4, .cab_landing h5, .cab_landing p, .cab_landing ul li, .cab_landing table td, .cab_landing table th {
    font-family: "SalesforceSans", sans-serif; }
  .cab_landing .container {
    max-width: 100%;
    padding-left: 106px;
    padding-right: 78px; }
  .cab_landing .landing_header {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
      background-position: left top;
  }
    /*.cab_landing .landing_header:before {*/
    /*  content: "";*/
    /*  display: block;*/
    /*  width: 200%;*/
    /*  height: 150%;*/
    /*  position: absolute;*/
    /*  bottom: 24%;*/
    /*  left: -50%;*/
    /*  background: #032D60;*/
    /*  -webkit-transform: rotate(-3.5deg);*/
    /*  -moz-transform: rotate(-3.5deg);*/
    /*  -ms-transform: rotate(-3.5deg);*/
    /*  -o-transform: rotate(-3.5deg);*/
    /*  transform: rotate(-3.5deg); }*/
    /*.cab_landing .landing_header:after {*/
    /*  content: "";*/
    /*  display: block;*/
    /*  width: 129px;*/
    /*  height: 186px;*/
    /*  background: url("../img/header_img.svg") no-repeat center center;*/
    /*  -webkit-background-size: 100% 100%;*/
    /*  -o-background-size: 100% 100%;*/
    /*  background-size: 100% 100%;*/
    /*  position: absolute;*/
    /*  top: 31px;*/
    /*  right: 85px;*/
    /*  z-index: -1; }*/
    .cab_landing .landing_header .container {
      z-index: 2; }
  .cab_landing .header_logo_list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .cab_landing .header_logo_list li {
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      padding: 0px;
      margin: 0px; }
      .cab_landing .header_logo_list li a {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        height: 71px;
        width: auto;
        max-width: 166px;
        text-decoration: none; }
        .cab_landing .header_logo_list li a img {
          width: auto;
          height: 100%;
          max-width: 100%; }
    /*.cab_landing .header_logo_list li + li:before {*/
    /*  content: "";*/
    /*  display: block;*/
    /*  width: 1px;*/
    /*  height: 65px;*/
    /*  background: rgba(255, 255, 255, 0.35);*/
    /*  margin-left: 20px;*/
    /*  margin-right: 20px; }*/
  .cab_landing .landing_content {
    position: relative;
    width: 100%;
      top: -60px;
    padding-top: 0px;
    padding-bottom: 0px; }
    .cab_landing .landing_content .container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .cab_landing .landing_content .left_wrapper {
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      max-width: 460px; }
      .cab_landing .landing_content .left_wrapper .img_block {
        margin-top: 10%;
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        width: 582px;
        height: 598px;
        /*background: url("../img/main_img.png") no-repeat center top;*/
        -webkit-background-size: 90%;
        -o-background-size: 90%;
        background-size: 90%;
        margin-top: auto;
        margin-left: -64px; }
        .cab_landing .landing_content .left_wrapper .img_block .logo {
          position: relative;
          right: 12px;
          bottom: 12px;
          /*max-width: 229px;*/
          width: 100%;
          height: 100%;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center; }
          .cab_landing .landing_content .left_wrapper .img_block .logo img {
            max-width: 100%;
            width: 100%; }
      .cab_landing .landing_content .left_wrapper .second_title {
        margin-bottom: 30px;
          width: 100%;
      }
    .cab_landing .landing_content .main_title {
      position: relative;
      font-family: "ITCAvantGardeStd", sans-serif;
      font-weight: 500;
      color: #025798;
      font-size: 51px;
      line-height: 53px;
      margin-bottom: 15px; }
      .cab_landing .landing_content .main_title span, .cab_landing .landing_content .main_title a {
        text-decoration: none;
        color: #3C93CA; }
    .cab_landing .landing_content .second_title {
      position: relative;
      font-weight: normal;
      font-size: 26px;
      line-height: 1.3;
      color: #032D60;
      margin-bottom: 40px;
        width: 100%;
    }
      .cab_landing .landing_content .second_title strong {
        font-weight: bold; }
      .cab_landing .landing_content .second_title a {
        text-decoration: none;
        color: #3C93CA; }
    .cab_landing .landing_content p {
      font-weight: normal;
      line-height: 24px;
      margin-bottom: 30px; }
    .cab_landing .landing_content .right_wrapper {
      position: relative;
      max-width: 320px;
      width: 100%;
      margin-left: auto; }

.main_form {
  position: relative;
  width: 100%;
  padding-bottom: 35px;
  -ms-input-placeholder-color: #000; }
  .main_form .form_title {
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #3C93CA;
    margin-bottom: 0px; }
  .main_form p {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    margin-bottom: 16px; }
  .main_form .form_field {
    position: relative;
    width: 100%;
    line-height: 0;
    margin-bottom: 14px; }
  .main_form input:not([type='checkbox']), .main_form input:not([type='radio']), .main_form textarea {
    position: relative;
    outline: none;
    width: 100%;
    height: 46px;
    text-align: left;
    border: 1px solid #DDD;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    font-weight: normal;
    color: #000;
    background: #FFF;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 26px;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s; }
    .main_form input:not([type='checkbox']):focus, .main_form input:not([type='radio']):focus, .main_form textarea:focus {
      -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  .main_form select {
    position: relative;
    outline: none;
    width: 100%;
    height: 46px;
    text-align: left;
    border: 1px solid #DDD;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: none;
    text-align: left;
    font-weight: normal;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 26px;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FFF;
    background-image: url(../img/select_triangle.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 9px 7px;
    -o-background-size: 9px 7px;
    background-size: 9px 7px;
    background-position: right 12px center; }
    .main_form select:focus {
      -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  .main_form ::placeholder {
    color: #000; }
  .main_form ::-ms-input-placeholder {
    color: #000; }
  .main_form textarea {
    resize: none;
    height: 100px; }
  .main_form .checkbox_item {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 40px;
    line-height: 15px;
    margin-top: 22px;
    margin-bottom: 22px; }
    .main_form .checkbox_item input {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -2;
      opacity: 0;
      width: 0px;
      height: 0px; }
    .main_form .checkbox_item input:checked + .icon:before {
      opacity: 1; }
    .main_form .checkbox_item .icon {
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 24px;
      height: 24px;
      border: 1px solid #DDDDDD;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #FFF; }
      .main_form .checkbox_item .icon:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url("../img/checked.png") no-repeat center center;
        -webkit-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto; }
    .main_form .checkbox_item span {
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      margin: 0px; }
  .main_form .submit_btn {
    position: relative;
    outline: none;
    width: 100%;
    background: #032D60;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFF;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -ms-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -o-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s; }
    .main_form .submit_btn:hover {
      -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.creative_landing {
  background: #FCFCFC; }
  .creative_landing .container {
    max-width: 100%;
    padding-left: 70px;
    padding-right: 70px; }
  .creative_landing .landing_header {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 169px;
    padding-top: 60px;
    padding-bottom: 10px; }
  .creative_landing .aslant_bg:before {
    content: "";
    display: block;
    width: 200%;
    height: 150%;
    position: absolute;
    bottom: 18%;
    left: -50%;
    background: #F5F5F5;
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    -ms-transform: rotate(-3.5deg);
    -o-transform: rotate(-3.5deg);
    transform: rotate(-3.5deg); }
  .creative_landing .aslant_bg .container {
    z-index: 2; }
  .creative_landing .aslant_bg .logo {
    width: 167px;
    height: 66px; }
  .creative_landing .logo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    text-decoration: none;
    width: 145px;
    height: 57px;
    padding: 0px;
    margin: 0px; }
    .creative_landing .logo img {
      width: 100%;
      height: 100%;
        object-fit: contain;
        object-position: left;    }
  .creative_landing .slogan {
    font-size: 15px;
    line-height: 17px;
    font-style: italic;
    color: #000;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 18px; }
  .creative_landing .landing_content {
    position: relative;
    width: 100%;
    padding: 0px;
    padding-top: 48px; }
    .creative_landing .landing_content .container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .creative_landing .landing_content .left_wrapper {
      position: relative;
      width: 100%;
      max-width: 478px;
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 30px; }
      .creative_landing .landing_content .left_wrapper p {
        font-size: 27px;
        line-height: 42px;
        color: #000;
        margin-bottom: 30px; }
      .creative_landing .landing_content .left_wrapper .big_text {
        font-size: 36px;
        line-height: 43px;
        margin: 0px; }
      .creative_landing .landing_content .left_wrapper .red_wrapper {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 461px;
        min-height: 398px;
        padding: 40px 0px;
        padding-top: 40px; }
        .creative_landing .landing_content .left_wrapper .red_wrapper:before {
          content: "";
          display: block;
          position: absolute;
          top: 0px;
          left: -70px;
          right: -37px;
          bottom: 0px;
          background: #D94E4A; }
        .creative_landing .landing_content .left_wrapper .red_wrapper p {
          position: relative;
          z-index: 2;
          font-size: 35px;
          line-height: 43px;
          color: #FFF;
          margin: 0px; }
    .creative_landing .landing_content .right_wrapper {
      max-width: 320px;
      width: 100%;
      margin-left: auto;
      padding-top: 20px; }
    .creative_landing .landing_content .main_title {
      position: relative;
      width: 100%;
      font-weight: normal;
      font-size: 51px;
      line-height: 61px;
      color: #D94E4A;
      margin-bottom: 30px; }
      .creative_landing .landing_content .main_title span {
        display: block;
        color: #000; }
  .creative_landing .main_form .form_title {
    color: #000;
    margin-bottom: 5px; }
  .creative_landing .main_form input, .creative_landing .main_form select {
    font-family: "Georgia"; }
  .creative_landing .main_form .submit_btn {
    font-family: "HelveticaNeue";
    background: #D94E4A; }

.landing_b .landing_content .left_wrapper p {
  max-width: 461px; }
.landing_b .main_form .submit_btn {
  background: none;
  color: #D94E4A;
  border: 2px solid #D94E4A; }
  .landing_b .main_form .submit_btn:hover {
    background: #D94E4A;
    color: #FFF; }

.creative_landing .bg_img {
  height: 242px;
  min-height: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 12px; }
.creative_landing .landing_content .left_wrapper .logo {
  width: 130px;
  height: 51px;
  margin-bottom: 38px; }

.landing_d .landing_content {
  padding-top: 0px; }
  .landing_d .landing_content .left_wrapper {
    padding-bottom: 0px; }
    .landing_d .landing_content .left_wrapper p {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 35px; }
    .landing_d .landing_content .left_wrapper .bottom_img {
      width: 572px;
      height: auto;
      margin-left: -70px;
      margin-top: auto; }
  .landing_d .landing_content .main_title {
    margin-bottom: 40px; }

.landing_e .landing_header {
  padding-top: 45px;
  padding-bottom: 57px;
  background: #0C9DDA;
  height: auto; }
  .landing_e .landing_header .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
  .landing_e .landing_header .logo {
    width: 145px;
    min-width: 145px;
    margin-right: 30px;
    height: 64px; }
  .landing_e .landing_header .header_lines {
    max-width: 544px;
    width: 100%;
    height: auto;
    margin: 0px;
    margin-left: auto; }
.landing_e .landing_content {
  padding-top: 48px; }
  .landing_e .landing_content .main_title {
    color: #042C60;
    font-size: 61px;
    line-height: 68px;
    margin-bottom: 50px; }
    .landing_e .landing_content .main_title span {
      color: #042C60; }
  .landing_e .landing_content .left_wrapper {
    max-width: 424px; }
    .landing_e .landing_content .left_wrapper p {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 30px; }
  .landing_e .landing_content .logos_block {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 30px; }
    .landing_e .landing_content .logos_block img {
      position: relative;
      display: inline-block;
      vertical-align: top;
      max-width: 96px;
      margin: 0px;
      margin-right: 20px;
      margin-bottom: 20px; }
.landing_e .main_form .submit_btn {
  background: #042C60; }

.creative_page {
  position: relative;
  width: 100%;
  max-width: 612px;
  background: #F3F3F3; }
  .creative_page .container {
    max-width: 100%;
    width: 100%;
    padding-left: 44px;
    padding-right: 40px; }
  .creative_page .page_header {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 0px; }
  .creative_page .aslant_bg {
    padding-top: 45px;
    padding-bottom: 30px; }
    .creative_page .aslant_bg:before {
      content: "";
      display: block;
      width: 200%;
      height: 150%;
      position: absolute;
      bottom: 18%;
      left: -50%;
      background: #F5F5F5;
      -webkit-transform: rotate(-3.5deg);
      -moz-transform: rotate(-3.5deg);
      -ms-transform: rotate(-3.5deg);
      -o-transform: rotate(-3.5deg);
      transform: rotate(-3.5deg); }
    .creative_page .aslant_bg .container {
      z-index: 2; }
    .creative_page .aslant_bg .logo {
      width: 122px;
      height: 48px; }
  .creative_page .logo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    text-decoration: none;
    width: 112px;
    height: 44px;
    padding: 0px;
    margin: 0px; }
    .creative_page .logo img {
      width: 100%;
      height: 100%;
        object-fit: contain;
        object-position: left;}
  .creative_page .slogan {
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    color: #000;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 14px; }
  .creative_page .page_content {
    position: relative;
    width: 100%;
    padding: 0px;
    padding-top: 34px;
    padding-bottom: 30px; }
    .creative_page .page_content .container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .creative_page .page_content p {
      font-size: 17px;
      line-height: 26px;
      color: #000;
      margin-bottom: 25px; }
    .creative_page .page_content .big_text {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 24px; }
    .creative_page .page_content .footer_text {
      position: relative;
      width: 100%;
      font-size: 9px;
      line-height: 14px;
      color: #8C8C8C;
      padding-top: 20px;
      margin: 0px; }
  .creative_page .main_title {
    position: relative;
    width: 100%;
    font-weight: normal;
    font-size: 46px;
    line-height: 58px;
    color: #D94E4A;
    margin-bottom: 40px; }
    .creative_page .main_title span {
      display: block;
      color: #000; }
  .creative_page .quantity_list {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 45px; }
    .creative_page .quantity_list.with_border {
      margin-bottom: 36px;
      padding: 20px 0px;
      padding-bottom: 25px; }
      .creative_page .quantity_list.with_border:before, .creative_page .quantity_list.with_border:after {
        content: "";
        display: block;
        width: 200%;
        height: 1px;
        position: absolute;
        top: 0px;
        left: -50%;
        background: #979797; }
      .creative_page .quantity_list.with_border:after {
        top: auto;
        bottom: 0px; }
    .creative_page .quantity_list li {
      position: relative;
      width: 50%;
      font-family: "HelveticaNeue", sans-serif;
      font-size: 10px;
      line-height: 15px;
      color: #000;
      text-transform: uppercase;
      margin: 0px; }
      .creative_page .quantity_list li span {
        display: block;
        font-family: "Georgia", sans-serif;
        font-size: 50px;
        line-height: 1;
        margin-bottom: 5px; }
  .creative_page .red_wrapper {
    position: relative;
    width: 100%;
    padding: 34px 25px;
    padding-bottom: 45px;
    background: #D94E4A;
    margin-bottom: 20px; }
    .creative_page .red_wrapper p, .creative_page .red_wrapper .big_text {
      color: #FFF;
      font-size: 23px;
      line-height: 33px;
      margin-bottom: 30px; }
    .creative_page .red_wrapper .quantity_list {
      padding: 0px;
      margin: 0px; }
      .creative_page .red_wrapper .quantity_list:before, .creative_page .red_wrapper .quantity_list:after {
        display: none; }
      .creative_page .red_wrapper .quantity_list li {
        color: #FFF; }

.page_b {
  background: #FFF; }
  .page_b .page_content {
    padding-top: 20px; }
    .page_b .page_content .red_text {
      color: #D94E4A; }
  .page_b .main_title {
    margin-bottom: 20px; }

.creative_page .bg_header {
  position: relative;
  width: 100%;
  height: 199px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 34px; }
  .creative_page .bg_header .container {
    position: static; }
  .creative_page .bg_header .logo {
    position: absolute;
    top: auto;
    bottom: -34px;
    left: 0px;
    width: 206px;
    height: 98px;
    padding-left: 44px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: #F3F3F3; }
    .creative_page .bg_header .logo img {
      width: 112px;
      height: 44px; }

.page_c .page_content {
  padding-top: 25px; }
  .page_c .page_content .main_title {
    margin-bottom: 20px; }
  .page_c .page_content .big_text {
    font-size: 20px;
    line-height: 28px; }
  .page_c .page_content .red_text {
    font-style: italic;
    color: #D94E4A; }
.page_c .quantity_list li span {
  color: #D94E4A; }

.page_d .page_header {
  padding: 0px; }
  .page_d .page_header .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0px; }
  .page_d .page_header .logo {
    margin-left: 44px; }
  .page_d .page_header .right_img {
    position: relative;
    width: 305px;
    height: auto;
    margin-left: auto; }
.page_d .page_content {
  padding-top: 25px; }
  .page_d .page_content .main_title {
    margin-bottom: 30px; }
    .page_d .page_content .main_title:before {
      content: "";
      display: block;
      width: 16px;
      height: 160px;
      background: #D94E4A;
      position: absolute;
      top: -100px;
      bottom: -100px;
      left: -44px;
      margin: auto; }
  .page_d .page_content .big_text {
    font-size: 20px;
    line-height: 28px; }
  .page_d .page_content .red_text {
    font-style: italic;
    color: #D94E4A; }
.page_d .quantity_list {
  margin-bottom: 20px; }
  .page_d .quantity_list li {
    width: auto;
    padding: 0px; }
    .page_d .quantity_list li span {
      color: #D94E4A;
      margin-top: 10px;
      margin-bottom: 0px; }
  .page_d .quantity_list li + li {
    margin-left: 60px; }
    .page_d .quantity_list li + li:before {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: -30px;
      width: 1px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      background: #979797;
      margin: auto; }

.page_e .page_header {
  background: #0C9DDA;
  padding-top: 40px;
  padding-bottom: 50px; }
  .page_e .page_header .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
  .page_e .page_header .logo {
    width: 145px;
    height: auto; }
  .page_e .page_header .line_img {
    position: relative;
    width: 201px;
    height: auto;
    margin-left: auto;
    margin-right: 40px; }
.page_e .page_content {
  padding-top: 25px; }
  .page_e .page_content .main_title {
    color: #042C60;
    margin-bottom: 25px; }
    .page_e .page_content .main_title span {
      color: #042C60; }
  .page_e .page_content .big_text {
    max-width: 504px;
    font-size: 24px;
    line-height: 33px; }
  .page_e .page_content .red_text {
    font-style: italic;
    color: #D94E4A; }
.page_e .quantity_list {
  margin-bottom: 20px; }
  .page_e .quantity_list li {
    width: auto;
    padding: 0px; }
    .page_e .quantity_list li span {
      color: #0C9DDA;
      margin-top: 10px;
      margin-bottom: 0px; }
  .page_e .quantity_list li + li {
    margin-left: 60px; }
    .page_e .quantity_list li + li:before {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: -30px;
      width: 1px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      background: #979797;
      margin: auto; }
.page_e .wrap {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px; }
  .page_e .wrap img {
    width: 80px;
    height: 115px;
    margin-right: 50px; }

/*# sourceMappingURL=main.css.map */
